<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Foundation 5</title>
      {{ "static/css/app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
   <!-- link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css' -->
      <link href='http://fonts.googleapis.com/css?family=Noto+sans' rel='stylesheet' type='text/css'>

<style>
ul.no_bullet {
list-style-type: none;
padding: 0 ;
margin: 0 ;
}

li.cube {
background: url(listitem.png) no-repeat 0 5px;padding:0 0 15px 15px;
}

</style>

	<!--[if lt IE 8]>
	<style>
		ol {margin-left:40px;}
		ol li {
			margin-left:0;
			list-style:decimal;
		}
		ol ul li {list-style:disc;}
	</style>
	<![endif]-->
  	
  <!-- script>
function showlist(item) {
 var list = document.getElementById(item);
 $(list).toggle(500);
 $('#item2').toggle(500);

}

function showsubList(item, elem) {
 var list = document.getElementById(item);
 $("ul#item1list > li:not(:first)").toggle(500);
 $(list).toggle(500);
}
</script -->

	</head>
	<body>
		{% block content %}{% endblock %}
  		{% include "scripts" %}
	</body>
</html>