{% block content %} 




<div style="background:#fff;height:100%">

  

<div class="large-2 columns" style="position:fixed;background:#fff;padding:0">
<div style="text-align:center">
<img src="atramlogo.png" class="" style="width:90px;margin:20px 0 10px 0">
</div>
<h1 class="text-center" style="letter-spacing:7px;font-size:0.6em;text-transform:uppercase"><a href="#" style="color:#666;">Atramhasis</a></h1>


                <ul class="subNav">
                <li><a href="">culturen</a></li>
                <li><a href="resultv2s2">stijlen</a></li>
                </ul>

                <ul class="subNav2">           
                <li>brutalisme</li>
                </ul>
                  
</diV>


<div class="large-10 columns" style="background:#f9f9f9;">

<div style="background:#C03">
<nav class="top-bar" data-topbar role="navigation" style="margin:0">
 

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="" style="width:100%" >
      <li class="divider"></li>
      <li class="has-dropdown" style="width:30%">
        <a href="#">Kies een schema</a>
        <ul class="dropdown" style="">
          <li><a href="#">Verschillende soorten bomen</a></li>
          <li class="active"><a href="#">Stijlen en Culturen</a></li>
          <li><a href="#">Geografie</a></li>
          <li><a href="#">Materialen</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown" style="width:30%">
        <a href="#">Kies een type</a>
        <ul class="dropdown">
          <li><a href="#">Concepten</a></li>
          <li class="active"><a href="#">Collecties</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form" style="width:30%">
  <div class="row collapse">

<div class="left"><input type="text" class="" placeholder="Zoek een label"></div>
<div class="left"><a href="#" class=""><span class="ico ico-mglass"></span></a></div>

  </div>
</li>
    </ul>

  </section>
</nav>
</div>


<div class="large-9 columns">
<h1 style="margin:10px 0 0 0">Brutalisme</h1>
<h4 style="margin: 0 0 10px 0;font-size:0.8em;color:#999">[ ID : 335 ]</h4>


<dl class="infolist clearfix">
  <dt>type</dt>
  <dd>concept</dd>
  <dt>uri</dt>
  <dd><a href="">urn:x-skosprovider:geography:335</a></dd>
  <dt>schema</dt>
  <dd><a href="">Geografie</a></dd>
  <dt>labels</dt>
  <dd><strong>Mechelen</strong> <em>(Dutch)</em> , <strong>Malines</strong> <em>(French)</em></dd>
  <dt>alt labels</dt>
  <dd><strong>Machlina</strong> <em>(Undetermined)</em> , <strong>Malines</strong> <em>(English)</em> , <strong>Mecheln</strong> <em>(German)</em> ,<strong>Mechlin</strong> <em>(English)</em> , <strong>Mechlinae</strong> <em>(Latin)</em> , <strong>Mechlinia</strong> <em>(Undetermined)</em>
</dd>
</dl>
          

<ul class="scopeNote">
<li>
<strong>scopeNote</strong> <em>(English)</em>: Settled in ancient times, the commune of Mechelen lies along the Dijle River, a few miles north-northeast of Brussels, in the Belgian province of Antwerp. According to Christian legend, St. Rumoldus came here in 756. It was ruled by the prince-bishops of Liège from 915 to 1333, by Flanders from 1333 to 1368, and by Burgundy from 1369. Charles the Bold of Burgundy made it the seat of the Grand Council in 1473, the supreme court of the Low Countries. The regent Margaret of Austria made it the capital of The Netherlands in the early 16th century, and it became a cultural center and archbishopric. It suffered great damage in wars from the 16th to the 18th centuries, being held variously by the French, Spanish, and English, and again in World War II. 
</li>
</ul>



<dl class="infolist clearfix">
  <dt>relaties</dt>
  <dd>concept</dd>
  <dt>algemener</dt>
  <dd>Flanders</dd>
  <dt>exact match</dt>
  <dd><a href="">http://vocab.getty.edu/tgn/7008736</a></dd>
</dl>


<a href="detailv2">detailv2</a>


</diV>


<div class="large-3 columns">


<div class="box" style="margin-top:50px"> 
<h5>Downloads</h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Download CSV</a></li>
</ul> 
</diV>



<div class="box">
<h5>POPULAIR IN DEZE CAtEGORIE</h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Belgium</a></li>
  <li class="cube"><a href="">Flanders</a></li>
  <li class="cube"><a href="">Heis op den berg</a></li>
  <li class="cube"><a href="">World</a></li>
</ul> 
</div>



<div class="box">
<h5>RECENT DOOR U BEKEKEN</h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Belgium kdmdk  qdkq mdk dmqk d mk dqs dmq dq sqs d</a></li>
  <li class="cube"><a href="">Flanders</a></li>
  <li class="cube"><a href="">Heis op den berg</a></li>
  <li class="cube"><a href="">World</a></li>
</ul> 
</div>



<div class="box">
<h5>Volg Atramhasis </h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Ons discussieforum</a></li>
  <li class="cube"><a href="">Onze online handleiding</a></li>
  <li class="cube"><a href="">Onze issue tracker</a></li>
</ul>
</div>







</diV>
</diV>
</diV>







{% endblock %}