{% block content %} 



 <div class="large-3 columns" style="background:#283539 ;min-height:100%">


              logo

<div class="text-center">
              <h1 style="color:#efefef;letter-spacing:4px;font-size:1em;margin:40px 0">Atrahamsis</h1>
</div>
                

<form>
                      <select>
                        <option value="husker">Kies een schema</option>
                        <option value="starbuck">2</option>
                        <option value="hotdog">3</option>
                        <option value="apollo">4</option>
                      </select>

                      <select>
                        <option value="husker">Kies een Stijl</option>
                        <option value="starbuck">Starbuck</option>
                        <option value="hotdog">Hot Dog</option>
                        <option value="apollo">Apollo</option>
                      </select>

                    
                      <input type="text" placeholder="label" />
                  
<div class="text-center">
<a href="result" class="tiny button">zoek</a>
</div>

 </form> 

<h4>Bladeren</h4>
<ul>
  <li><a href="">Geografie</a></li>
  <li><a href="">Stijlen en Culturen</a></li>
  <li><a href="">Materialen</a></li>
  <li><a href="">Verschillende soorten bomen</a></li>
</ul>

<h4>Informatie</h4>
<ul>
  <li><a href="">Ons discussieforum</a></li>
  <li><a href="">Onze online handleiding</a></li>
  <li><a href="">Onze issue tracker</a></li>
</ul>






</diV>


 <div class="large-9 columns">

<div class="large-9 columns" style="">

       <h1>Brutalisme</h1>

<dl class="">
  <dt>id</dt>
  <dd style="margin-left:80px;margin-top:-30px">: 28</dd>
  <dt>type</dt>
  <dd style="margin-left:80px;margin-top:-30px">: concept</dd>
  <dt>uri</dt>
  <dd style="margin-left:80px;margin-top:-30px">: <a href="#">https://id.erfgoed.net/thesauri/stijlen_en_culturen/28</a></dd>
  <dt>schema</dt>
  <dd style="margin-left:80px;margin-top:-30px">: Stijlen en Culturen</dd>
</dl>
             
            
             
          

<h2>Labels</h2>
<h3>Geprefereerde labels :</h3>
<ul>
<li><a href="">Brutalisme</a> <em>(Dutch)</em></li>
</ul>
<h2>Notities</h2>   

<ul>
  <li>
  Definition <em>(Dutch)</em> : Het brutalisme gaat terug op de late werken van Le Corbusier,   met zijn expressieve, ruw afgewerkte vormen. Typisch is het toepassen van zichtbaar  metselwerk en ruw, onversierd beton (zogenaamd zichtbeton of béton brut), waarbij  de textuur van het bekistingshout wordt gebruikt om het materiaal te vormen.   (jaren 1950 - 1970)  
</li>
<li>
  Note <em>(Dutch)</em> : VIOE, op basis van TRACHTENBERG M. &amp; HYMAN I. 2002:   Architecture from Prehistory to Postmodernity, New Jersey.
</li>
</ul>

<h2>Relaties</h2>
<h3>Lid van :</ul> 
<ul>
  <li><a href="">Stijlen</a></li>
</ul>
</diV>


 <div class="large-3 columns">

 <div class="panel">  
              <ul>
                     <ul>
                      <li>culturen</li>
                      <li>stijlen</li>
                      <ul>
                      <li>art deco</li>
                      <li>art nouveau</li>
                      <li>barok</li>
                      <li>brutalisme</li>
                      <li>Chippendale</li>
                      <li>classicerende barok</li>
                      <li>classicisme</li>
                      <li>cottagestijl</li>
                      <li>empire</li>
                      <li>gotiek</li>
                      <li>high tech</li> 
                    </ul>
                   <li>modernisme</li>
                   <li>neostijl</li>
              </ul>
</div>   

</diV>





</diV>










{% endblock %}