{% block content %} 

<!-- header -->
{% include "atramhasis-header-backend" %}
<!-- end header -->

<div class="panel">

  <section>
    <div class="container">

      <table class="tablelist">

        <thead >

          <tr class="header">
            <th>
              <div>ID</div>
            </th>

            <th>
              <div>Label</div>
            </th>

            <th>
              <div>Type</div>
            </th>

            <th>
              <div>URI</div>
            </th>


            <th style="width:200px;" class="right">
              <div >
                <span class="downloadtop right">

                  <button class="right label labellink">
                    <span style="font-size:1.5em">ADD</span> &nbsp; <i class="fa fa-plus" style="font-size:1.5em"> </i>
                  </button> 

                  <button class="label labellink"><span style="font-size:1.5em">import</span></button>

                </span>
              </div>

            </th>


          </tr>

        </thead>



        <tbody>
          <tr>
            <td>1</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><small>added 11u57</small> <a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>2</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><small>update 00/00/0000</small> <a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>3</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>4</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>5</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>6</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>7</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>8</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>9</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>10</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>11</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

          <tr>
            <td>12</td>
            <td>aardewerk</td>
            <td>concept</td>
            <td>https://id.erfgoed.net/thesauri/materialen/1</td>
            <td><a href=""><i class="fa fa-trash"></i></a></td>
          </tr>

        </table>

      </div>


      <div class="text-center">
        <button class="label labellink-outline">meer</button>
      </div>


    </section>




    <div class="large-12 columns" style="margin-top:20px">

      <div class="row">

        <div class="panel clearfix" style="margin-top:20px">
          <h3 class="left" style="font-size:1em;margin-top:10px;font-weight:bold">aardewerk</h3>

          <form>

            <div class="left" style="margin:4px 5px 0 20px;width:140px;">
              <select style="font-size:0.7em;padding:0 5px;margin:0;height:20px">
                <option value="husker">Select Thesaurus</option>
                <option value="starbuck">Materials</option>
                <option value="hotdog">3</option>
                <option value="apollo">4</option>
              </select>
            </div>

            <div class="left" style="margin:4px 5px 3px 5px;width:140px">
             <select style="font-size:0.7em;padding:0 5px;margin:0;height:20px">
              <option value="husker">Select type</option>
              <option value="starbuck">concept</option>
              <option value="hotdog">collection</option>
            </select>  
          </div>

        </form>


        <div class="right">
          <button class="label labellink">View</button> ( <a href="index-back-end">index back-end</a> )
        </diV>


        <div class="clearfix"></div>
        <hr>

        <!--tabs-->

        <div class="tabs-center">

          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#panel1"><small>Labels</small></a></li>
            <li class="tab-title"><a href="#panel2"><small>notes</small></a></li>
            <li class="tab-title"><a href="#panel3"><small>relations</small></a></li>
            <li class="tab-title"><a href="#panel4"><small>matches</small></a></li>
          </ul>

        </div>




        <div class="tabs-content">
          <div class="content active" id="panel1">


           <table class="tablecontent">
             <form>     
              <thead>
                <tr>
                  <th>
                    <div><input type="text" placeholder="Type title ..." /></div>
                  </th>
                  <th>
                    <select>
                      <option value="husker">nl</option>
                      <option value="starbuck">fr</option>
                      <option value="hotdog">en</option>
                      <option value="hotdog">de</option>
                    </select>
                  </th>
                  <th>
                   <select style="width:240px">
                    <option value="husker">label type</option>
                    <option value="starbuck">fr</option>
                    <option value="hotdog">en</option>
                    <option value="hotdog">de</option>
                  </select>
                </th>
                <th>
                  <button class="right label labellink">
                    <span style="font-size:1.5em">ADD</span> &nbsp; <i class="fa fa-plus" style="font-size:1.5em"> </i>
                  </button> 
                </th>
              </tr>
            </thead>
          </form>


          <tbody>

            <tr>
              <td>aardewerk</td>
              <td>nl</td>
              <td>prefered</td>
              <td><a href=""><i class="fa fa-trash"></i></a></td>
            </tr>

            <tr>
              <td>ceramiek</td>
              <td>nl</td>
              <td>alternate</td>
              <td><a href=""><i class="fa fa-trash"></i></a></td>
            </tr>

            <tr>
              <td>ceramiek</td>
              <td>nl</td>
              <td>alternate</td>
              <td><a href=""><i class="fa fa-trash"></i></a></td>
            </tr>

          </tbody>

        </table>

        <hr>
        <div class="" style="text-align:center">
          <button class="label labellink">save</button>
        </div>


      </div>



      <div class="content" id="panel2">


        <table class="tablecontent">
         <form>     
          <thead>
            <tr>
              <th>
                <div><input type="text" placeholder="Type notes ..." /></div>
              </th>
              <th>

                <select>
                  <option value="husker">nl</option>
                  <option value="starbuck">fr</option>
                  <option value="hotdog">en</option>
                  <option value="hotdog">de</option>
                </select>

              </th>
              <th>

               <select style="width:240px">
                <option value="husker">Type of note</option>
                <option value="starbuck">fr</option>
                <option value="hotdog">en</option>
                <option value="hotdog">de</option>
              </select>
            </th>
            <th>
              <button class="right label labellink">
                <span style="font-size:1.5em">ADD</span> &nbsp; <i class="fa fa-plus" style="font-size:1.5em"> </i>
              </button> 
            </th>
          </tr>
        </thead>
      </form>


      <tbody>

        <tr>
          <td>+EDITOR</td>
          <td>nl</td>
          <td>definition</td>
          <td><a href=""><i class="fa fa-trash"></i></a></td>
        </tr>

        <tr>
          <td>+EDITOR</td>
          <td>nl</td>
          <td>note</td>
          <td><a href=""><i class="fa fa-trash"></i></a></td>
        </tr>


      </tbody>

    </table>

    <hr>
    <div class="" style="text-align:center">
      <button class="label labellink">save</button>
    </div>

  </div>


  <div class="content" id="panel3">

    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

<div style="padding:20px">

        <header class="paneltitle">
            <h3 class="left" style="margin-top:3px">aardewerk</h3>
            <span style="text-transform:uppercase;margin-left:10px">Add relations</span>
        </header> 

          <hr>

        <h3 style="margin:0 0 20px 0">Choose concept</h3>

        <!-- temp -->
        <div style="border:1px solid #ccc;height:200px">
          tree ...
          materials
        </div>

        <h3 style="margin:20px 0">Add selection as ...</h3>

        <div class="text-center">
          <select>
            <option value="">---</option>
            <option value="">Broader</option>
            <option value="">Narrower</option>
            <option value="">Related</option>
            <option value="">Member of</option>
            <option value="">Subordinate arrays</option>
          </select>
          <br><br>
          <button class="label labellink disabled">Save relation</button>
          <button class="label labellink">Save relation</button>
          <button class="label labellink">Save all relations &amp; close</button>
        </div>


        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>     
    </div>



     <table class="tablecontent">

      <thead>
        <tr>
          <th style="height:35px;padding:8px">
            Type
          </th>
          <th style="height:35px;padding:8px">
            Related
          </th>
          <th style="height:35px;padding:8px" class="right">
            <button data-reveal-id="myModal" class="label labellink">
            <span style="font-size:1.5em">ADD relations</span> &nbsp; <i class="fa fa-plus" style="font-size:1.5em"> </i>
            </button>
          </th>
        </tr>
      </thead>


      <tbody>

          <tr>
            <td style="vertical-align:top"><strong>Broader</strong></td>
            <td>late bronstijd (1217) <span class="feedback-add">(recent toegevoegd)</span><br>
              late bronstijd (1217)<br>
              late bronstijd (1217)<br>
              late bronstijd (1217)
            </td>
           
            <td>
                <a href=""><i class="fa fa-trash"></i></a><br>
                <a href=""><i class="fa fa-trash"></i></a><br>
                <a href=""><i class="fa fa-trash"></i></a><br>
                <a href=""><i class="fa fa-trash"></i></a>
            </td>
              </tr>

          <tr>
            <td style="vertical-align:top"><strong>Narrower</strong></td>
            <td>late bronstijd (1217) <span class="feedback-add">(recent toegevoegd)</span><br>
              late bronstijd (1217) <br>
            </td>
           
            <td>
                <a href=""><i class="fa fa-trash"></i></a><br>
                <a href=""><i class="fa fa-trash"></i></a>
            </td>
              </tr>


          <tr>
            <td style="vertical-align:top"><strong>Related</strong></td>
            <td>late bronstijd (1217) <br>
              late bronstijd (1217) <br>
              late bronstijd (1217) </td>
              <td>
                <a href=""><i class="fa fa-trash"></i></a><br>
                <a href=""><i class="fa fa-trash"></i></a><br>
                <a href=""><i class="fa fa-trash"></i></a></td>
              </tr>

            </tbody>

          </table>


        </div>
        <div class="content" id="panel4">
          <p>Matches</p>
        </div>
      </div>


      <!--end tabs-->

      <!-- table -->

      <!-- end table -->

    </diV>         

    <div style="margin-top:10px">
      <span class="label labellink-active">aardewerk &nbsp;&nbsp;<small><a href=""><i class="fa fa-remove" style="color:#fff;font-size:1.8em"> </i></a></small>
      </span> &nbsp;
      <button class="label labellink">pijpaarde</button> &nbsp;
      <button class="label labellink">steengoed</button> &nbsp;
      <button class="label labellink">porselijn</button> &nbsp;

    </div>
  </diV>


</diV>


{% endblock %}