{% block content %} 

<!-- header -->
{% include "atramhasis-header" %}
<!-- end header -->



<div class="bgcontainer">

<div class="row">
<div class="large-6 columns ptext">

<p>
<strong>Atramhasis is een open-source, online <a href="">SKOS</a> editor. Met behulp van deze webtoepassing kan je SKOS vocabularia, thesauri, authority files, ... doorbladeren met behulp van de publieke interface.
</strong>
</p>

<p>
  Atramhasis heeft ook een beheersinterface die je kunt gebruiken om concepten toe te voegen, 
te bewerken of te verwijderen.
</p>

<p><strong>Meer informatie over dit project</strong></p>

<ul class="no_bullet">
  <li class="cube"><a href="">Ons discussieforum</a></li>
  <li class="cube"><a href="">Onze online handleiding</a></li>
  <li class="cube"><a href="">Onze issue tracker</a></li>
</ul>
 
</div>



<div class="large-6 columns home-search-placer">

<div class="home-img_position">
<form>
          <select>
            <option value="husker">Kies een schema</option>
            <option value="starbuck">2</option>
            <option value="hotdog">3</option>
            <option value="apollo">4</option>
          </select>

          <select>
            <option value="husker">Kies een Stijl</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>

         <input type="text" placeholder="Zoek naar een label" />
                  
<div class="text-center">

<a href="resultv2"><span class="ico ico-mglass-large"></span></a>
</div>

 </form> 

<div class="text-center">
  <!--img src="brainheadimg-light.png" width="230" -->
  <img src="headimg.png" width="255">
</div>


</div>

</div>


</div>
</div>


<!-- subfooter -->
{% include "atramhasis-subfooter-homepage" %}
<!-- end subfooter -->



<!-- footer -->
{% include "atramhasis-footer" %}
<!-- end footer -->



 


{% endblock %}