{% block content %} 

<!-- header -->
{% include "atramhasis-header-backend" %}
<!-- end header -->


<div class="panel" style="border:0;background:#fff;margin:0;padding:0">


<section>

  <div class="container">

    <table class="tablelist">
      
      <thead style="">

        <tr class="header">

          <th>
            <div>ID</div>
          </th>

          <th>
            <div>Label</div>
          </th>

          <th>
            <div>Type</div>
          </th>

          <th>
            <div>URI</div>
          </th>

         <th style="width:150px;float:right">
              <div>
                    <span class="downloadtop right">
                    <span class="label"><a href="" style="color:#fff">+ Add</a></span>&nbsp;&nbsp;
                    <span class="label"><a href="" style="color:#fff">Import</a></span>
                    </span>
              </div>

          </th>

        
        </tr>
 
      </thead>



<tbody>
<tr>
<td>1</td>
<td>aardewerk</td>
<td>concept</td>
<td>https://id.erfgoed.net/thesauri/materialen/1</td>
<td>delete</td>
</tr>

<tr>
<td>2</td>
<td>aardewerk</td>
<td>concept</td>
<td>https://id.erfgoed.net/thesauri/materialen/1</td>
<td>delete</td>
</tr>

<tr>
<td>3</td>
<td>aardewerk</td>
<td>concept</td>
<td>https://id.erfgoed.net/thesauri/materialen/1</td>
<td>delete</td>
</tr>

<tr>
<td>4</td>
<td>aardewerk</td>
<td>concept</td>
<td>https://id.erfgoed.net/thesauri/materialen/1</td>
<td>delete</td>
</tr>

<tr>
<td>5</td>
<td>aardewerk</td>
<td>concept</td>
<td>https://id.erfgoed.net/thesauri/materialen/1</td>
<td>delete</td>
</tr>

<tr>
<td>6</td>
<td>aardewerk</td>
<td>concept</td>
<td>https://id.erfgoed.net/thesauri/materialen/1</td>
<td>delete</td>
</tr>

</table>

</div>



<div class="text-center" style="padding:0 0 10px 0">
  <button class="label labellink"><a href="">meer</a></button>

</div>


</section>






<div class="large-12 columns">

<div class="row">

<div class="panel clearfix" style="margin-top:20px">


<h3 class="left" style="font-size:1em;margin-top:10px;font-weight:bold">aardewerk</h3>

 <form>

      <div class="left" style="margin:4px 5px 0 20px;width:140px;">
              <select style="font-size:0.7em;padding:0 5px;margin:0;height:20px">
                <option value="husker">Select Thesaurus</option>
                <option value="starbuck">Materials</option>
                <option value="hotdog">3</option>
                <option value="apollo">4</option>
              </select>
      </div>


      <div class="left" style="margin:4px 5px 3px 5px;width:140px">
               <select style="font-size:0.7em;padding:0 5px;margin:0;height:20px">
                <option value="husker">Select type</option>
                <option value="starbuck">concept</option>
                <option value="hotdog">collection</option>
              </select>  
      </div>

</form>


<div class="right">
    <span class="label labellink"><a href="#" class="index-back-end">View</a></span> 
    <span class="label labellink labellink-active">Edit</span> 
</diV>



<div class="clearfix"></div>

<!--tabs-->

<div class="" style="text-align:center;float:none">

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"><small>Labels</small></a></li>
  <li class="tab-title"><a href="#panel2"><small>notes</small></a></li>
  <li class="tab-title"><a href="#panel3"><small>relations</small></a></li>
  <li class="tab-title"><a href="#panel4"><small>matches</small></a></li>
</ul>

</div>

<div class="tabs-content">
  <div class="content active" id="panel1">

   
   <table class="tablecontent">

      
     
<form>
        <tr class="tablecontentheader">

            <th style="width:100px"><div><input type="text" placeholder="Type title ..." style="padding:0 5px;margin:0;height:20px" /></div></th>
            <th>
              <div>
              <select style="font-size:0.8em;padding:0 5px;margin:0;height:20px;width:50px">
                <option value="husker">nl</option>
                <option value="starbuck">fr</option>
                <option value="hotdog">en</option>
                <option value="hotdog">de</option>
              </select>
            </div>
            </th>
            <th colspan="2">
              <div class="left">
               <select style="font-size:0.8em;padding:0 5px;margin:0;height:20px">
                <option value="husker">label type</option>
                <option value="starbuck">fr</option>
                <option value="hotdog">en</option>
                <option value="hotdog">de</option>
              </select>
            </div>
            <span class="left label labellink"><a href="">+</a></span> 
            </th>
        </tr>
 </form>

<tbody>

    <tr>
    <td>aardewerk</td>
    <td>nl</td>
    <td>prefered</td>
    <td>delete</td>
    </tr>

    <tr>
    <td>ceramiek</td>
    <td>nl</td>
    <td>alternate</td>
    <td>delete</td>
    </tr>

    <tr>
    <td>ceramiek</td>
    <td>nl</td>
    <td>alternate</td>
    <td colspan="" style="right">delete</td>
    </tr>

</tbody>

</table>

<div class="" style="text-align:center">
<button class="label labellink"><a href="">save</a></button>
</div>


  </div>



  <div class="content" id="panel2">
    <p>Notes</p>
  </div>
  <div class="content" id="panel3">
    <p>Relations</p>
  </div>
  <div class="content" id="panel4">
    <p>Matches</p>
  </div>
</div>




<!--end tabs-->

<!-- table -->

<!-- end table -->

</diV>         

<div style="margin-top:10px">
<span class="label labellink-active">aardewerk &nbsp;&nbsp;<small><a href="">X</small></a></span> &nbsp;
<span class="label labellink"><a href="">pijpaarde</a></span> &nbsp;
<span class="label labellink"><a href="">steengoed</a></span> &nbsp;
<span class="label labellink"><a href="">porselijn</a></span> &nbsp;
</div>

</diV>


</diV>


{% endblock %}