{% block content %} 

<!-- header -->
{% include "atramhasis-header-backend" %}
<!-- end header -->


<div class="panel" style="border:0;background:#fff;margin:0;padding:0">

<section>

  <div class="container">

    <table>

      <thead style="">


        <tr class="header">
          <th>
            <div>ID</div>
          </th>
          <th>
            <div>Label</div>
          </th>
          <th>
            <div>Type</div>
          </th>
          <th>
            <div>URI</div>
          </th>
          <th>
       
          </th>
          <th>
             <div>
              <span class="downloadtop right">
              <span class="label"><a href="" style="color:#fff">+ Add</a></span>&nbsp;&nbsp;
              <span class="label"><a href="" style="color:#fff">Import</a></span>
              </span>
        </div>
          </th>
        </tr>
 
      </thead>

<tbody>
<tr>
<td>1</td>
<td>aardewerk</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>2</td>
<td>pijpaarde</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>3</td>
<td>porselijn</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>4</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>5</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>6</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>7</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>8</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>9</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>10</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>11</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>12</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>13</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>14</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
<tr>
<td>15</td>
<td>steengoed</td>
<td>concept</td>
<td colspan="3">https://id.erfgoed.net/thesauri/materialen/1</td>
</tr>
      </tbody>
    </table>
  </div>


<div class="text-center" style="padding:0 0 10px 0">
 <span class="label labellink-active"><a href="#" data-reveal-id="firstModal" class="">meer</a></span> 
</div>



</section>




<div class="large-12 columns">

<div class="row">

<div class="panel clearfix" style="margin-top:20px">
<div class="right">

<span class="label labellink"><a href="#" data-reveal-id="firstModal" class="">Edit</a></span> 



<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
 

<img src="atramlogo.png" class="left logo-small" title="Atramhasis" style="width:40px;margin:10px 10px 10px 18px">
<h2 id="firstModalTitle" class="left" style="font-size:1em;padding:10px 0 0 0px">MATERIALS: AARDEWERK</h2>
<hr>


 <form class="">

    <div class="large-6 columns">
        
              <select>
                <option value="husker">Select Thesaurus</option>
                <option value="starbuck">Materials</option>
                <option value="hotdog">3</option>
                <option value="apollo">4</option>
              </select>

    </div>

    <div class="large-6 columns">

              <select style="">
                <option value="husker">Select type</option>
                <option value="starbuck">concept</option>
                <option value="hotdog">collection</option>
              </select>  

    </div>

</form>



<div class="clearfix" style="border:1px solid #C03">
  <h5>Labels</H5>
  <p><a href="#" data-reveal-id="secondModal" class="label labellink">edit</a></p>
  <a class="close-reveal-modal" aria-label="Close" style="font-size:1.5em">&#215;</a>
</div>



</div>





<div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  
  <img src="atramlogo.png" class="left logo-small" title="Atramhasis" style="width:40px;margin:10px 10px 10px 18px">
  <h2 id="firstModalTitle" class="left" style="font-size:1em;padding:10px 0 0 0px">MATERIALS: AARDEWERK</h2>
  <hr>
  <p>test text</p>
  <a class="close-reveal-modal" aria-label="Close" style="font-size:1.5em">&#215;</a>
</div>


<!-- Reveal Modals end -->




<span class="label">Delete</span> 
</div>
<h3 class="" style="font-size:1em;margin-top:6px;font-weight:bold">MATERIALS: aardewerk</h3>
<div style="font-size:0.7em">ID : 1 &nbsp;&nbsp;&nbsp;&nbsp;
TYPE : concept &nbsp;&nbsp;&nbsp;&nbsp;
URI : <a href="">https://id.erfgoed.net/thesauri/materialen/1</a>
</div>
<hr>
<p style="font-size:0.85em;">
 <strong>Definition :</strong> Aardewerk of keramiek is gebakken klei. Aardewerk wordt gebruikt voor het vervaardigen van vaatwerk, bouwmaterialen, beeldjes, enz… (nl)<br>
<strong>Note :</strong> Nederlandse Art &amp; Architecture Thesaurus, <a href="http://browser.aat-ned.nl/">http://browser.aat-ned.nl/</a> (nl)</p>
<hr>

<div class="large-6 columns" style="margin:0;padding:0">

<h5 style="margin-top:0">LABELS</h5>

<dl class="dllist">
  <dt>Preferred labels</dt>
  <dd>aardewerk (nl)</dd>
  <dt>Alternate labels</dt>
  <dd>ceramiek (nl) , keramiek (nl)</dd>
</dl>


</div>




<div class="large-6 columns">


<h5 style="margin-top:0">RELATIONS</h5>

<dl class="dllist">
  <dt>Narrower</dt>
  <dd>
<a href="">pijpaarde</a> (2) , <a href="">porselein</a> (5) , <a href="">steengoed</a> (6)</dd>
</dl>


<h5>MATCHES</h5>


</div>







</div>



<div style="margin-top:10px">
<span class="label labellink-active">aardewerk <small>&nbsp;&nbsp;&nbsp;&nbsp;X</small></span> &nbsp;
<span class="label labellink"><a href="">pijpaarde</a></span> &nbsp;
<span class="label labellink"><a href="">steengoed</a></span> &nbsp;
<span class="label labellink"><a href="">porselijn</a></span> &nbsp;
</div>

    
         

</diV>


</diV>


{% endblock %}