{% block content %} 

<!-- header -->
{% include "atramhasis-header-page" %}
<!-- end header -->



<div class="large-12 columns">


<div class="row">

<div class="clearfix">

 <ul class="downloadtop right">
  	<li>DOWNLOAD</li>
    <li><a href="">RDF/XML</a></li>
    <li><a href="">N3/Turtle</a></li>
</ul>
 
</div>


<div class="large-12 columns panel"> 

<h1 class="panel-header left">Neostijl</h1>
<h2 class="id-header right">[ID:35]</h2>
<hr>


<dl class="infolist clearfix">
  <dt>type</dt>
  <dd>concept</dd>
  <dt>uri</dt>
  <dd><a href="">https://id.erfgoed.net/thesauri/stijlen_en_culturen/35</a></dd>
  <dt>schema</dt>
  <dd><a href="">Stijlen en Culturen</a></dd>
  <dt>labels</dt>
  <dd><strong>Neostijl</strong> <em>(Dutch)</em></dd>
</dd>
</dl>


<ul class="scopeNote">
<li>
<strong>Notities</strong> <em>Definition (Dutch)</em>: Neostijl is een verzamelnaam voor stijlen vanaf de 19de eeuw die kenmerken van een vroegere stijl opnieuw gebruiken. (19de eeuw en eerste helft 20ste eeuw)</li>
<li><strong>Note</strong> <em>(Dutch)</em>: HASLINGHUIS, E.J. en JANSE, H., Verklarend woordenboek van de westerse architectuur- en bouwhistorie: bouwkundige termen, Leiden, 2005.</li>
</ul>

</div>


<div class="clearfix">
<h3>Relaties</h3>
</div>

<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>beaux-artsstijl</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>eclecticisme</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>neo-Egyptisch</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>neo-empire</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>neo-Vlaamserenaissance-stijl</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>classicerende barok</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>neobarok</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>neobyzantijns</h5> <span>[ ID : 64 ]</span> <br><small>collecties</small></a></div>


<div class="clearfix">
<h3>'Neo Stijl' is lid van</h3>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>stijlen</h5><small>collecties</small></a></div>
</div>


<!-- subfooter -->
{% include "atramhasis-subfooter-page" %}
<!-- end subfooter -->    

<!-- footer -->
{% include "atramhasis-footer-page" %}
<!-- end footer -->     


</diV>

</diV>



{% endblock %}