{% block content %} 

<!-- header -->
{% include "atramhasis-header-page" %}
<!-- end header -->




<div class="large-2 columns" style="padding:0;">

                <ul class="subNav">
                <li><a href="">culturen</a></li>
                <li><a href="resultv2s2">stijlen</a></li>
                </ul>

                <ul class="subNav2">           
                <li>brutalisme</li>
                </ul>
                  
</diV>


<div class="large-10 columns" style="border-left:1px solid #efefef">


<div class="large-9 columns">

<h1>Brutalisme</h1>
<h2 class="id-header">[ID:335]</h2>


<dl class="infolist clearfix">
  <dt>type</dt>
  <dd>concept</dd>
  <dt>uri</dt>
  <dd><a href="">urn:x-skosprovider:geography:335</a></dd>
  <dt>schema</dt>
  <dd><a href="">Geografie</a></dd>
  <dt>labels</dt>
  <dd><strong>Mechelen</strong> <em>(Dutch)</em> , <strong>Malines</strong> <em>(French)</em></dd>
  <dt>alt labels</dt>
  <dd><strong>Machlina</strong> <em>(Undetermined)</em> , <strong>Malines</strong> <em>(English)</em> , <strong>Mecheln</strong> <em>(German)</em> ,<strong>Mechlin</strong> <em>(English)</em> , <strong>Mechlinae</strong> <em>(Latin)</em> , <strong>Mechlinia</strong> <em>(Undetermined)</em>
</dd>
</dl>
          

<ul class="scopeNote">
<li>
<strong>scopeNote</strong> <em>(English)</em>: Settled in ancient times, the commune of Mechelen lies along the Dijle River, a few miles north-northeast of Brussels, in the Belgian province of Antwerp. According to Christian legend, St. Rumoldus came here in 756. It was ruled by the prince-bishops of Liège from 915 to 1333, by Flanders from 1333 to 1368, and by Burgundy from 1369. Charles the Bold of Burgundy made it the seat of the Grand Council in 1473, the supreme court of the Low Countries. The regent Margaret of Austria made it the capital of The Netherlands in the early 16th century, and it became a cultural center and archbishopric. It suffered great damage in wars from the 16th to the 18th centuries, being held variously by the French, Spanish, and English, and again in World War II. Its architectural and artistic treasures include the Cathedral of St. Rumoldus of the13th-15th century, containing a 49-bell carillon and Anthony Van Dyck's Crucifixion, St. John's Church with Peter Paul Rubens's Adoration of the Magi; Notre Dame with Rubens's Miraculous Draught of Fishes, the Renaissance palace of Margaret of Austria which has served as law courts since 1796, the 14th-century Cloth Hall, and the town hall, which is composed of three distinct structures: the Palace of the Grand Council built in 1526, the cadre of halls built 1311-26, and a Renaissance building of17th century. It was at one time a notable center of lace making. In the 20th and 21st centuries it is noted for its vegetable market, and furniture, tapestry, and beer industries. Its population by a 2003 estimate is 76,200.
</li>
</ul>


<ul class="scopeNote">
<li>
<strong>scopeNote</strong> <em>(English)</em>: Settled in ancient times, the commune of Mechelen lies along the Dijle River, a few miles north-northeast of Brussels, in the Belgian province of Antwerp. According to Christian legend, St. Rumoldus came here in 756. It was ruled by the prince-bishops of Liège from 915 to 1333, by Flanders from 1333 to 1368, and by Burgundy from 1369. Charles the Bold of Burgundy made it the seat of the Grand Council in 1473, the supreme court of the Low Countries. The regent Margaret of Austria made it the capital of The Netherlands in the early 16th century, and it became a cultural center and archbishopric. It suffered great damage in wars from the 16th to the 18th centuries, being held variously by the French, Spanish, and English, and again in World War II. Its architectural and artistic treasures include the Cathedral of St. Rumoldus of the13th-15th century, containing a 49-bell carillon and Anthony Van Dyck's Crucifixion, St. John's Church with Peter Paul Rubens's Adoration of the Magi; Notre Dame with Rubens's Miraculous Draught of Fishes, the Renaissance palace of Margaret of Austria which has served as law courts since 1796, the 14th-century Cloth Hall, and the town hall, which is composed of three distinct structures: the Palace of the Grand Council built in 1526, the cadre of halls built 1311-26, and a Renaissance building of17th century. It was at one time a notable center of lace making. In the 20th and 21st centuries it is noted for its vegetable market, and furniture, tapestry, and beer industries. Its population by a 2003 estimate is 76,200.
</li>
</ul>


++++++ ADD THIS  +++++++

<dl class="infolist clearfix">
  <dt>relaties</dt>
  <dd>concept</dd>
  <dt>algemener</dt>
  <dd>Flanders</dd>
  <dt>exact match</dt>
  <dd><a href="">http://vocab.getty.edu/tgn/7008736</a></dd>
</dl>









<div class="row">

<div class="large-3 large-3-pad columns">
    <div class="box">
    <h5>Downloads</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Download CVS</a></li>
    </ul> 
    </div>
</div>

<div class="large-3 large-3-pad columns">
    <div class="box">
    <h5>POPULAIR IN DEZE CAtEGORIE</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Belgium</a></li>
      <li class="cube"><a href="">Flanders</a></li>
      <li class="cube"><a href="">Heis op den berg</a></li>
      <li class="cube"><a href="">World</a></li>
    </ul> 
    </div>
</div>
<div class="large-3 large-3-pad columns">
    <div class="box">
    <h5>RECENT DOOR U BEKEKEN</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Belgium kdmdk  qdkq mdk dmqk d mk dqs dmq dq sqs d</a></li>
      <li class="cube"><a href="">Flanders</a></li>
      <li class="cube"><a href="">Heis op den berg</a></li>
      <li class="cube"><a href="">World</a></li>
    </ul> 
    </div>
</div>
<div class="large-3 large-3-pad columns">
    <div class="box">
    <h5>Volg Atramhasis </h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Ons discussieforum</a></li>
      <li class="cube"><a href="">Onze online handleiding</a></li>
      <li class="cube"><a href="">Onze issue tracker</a></li>
    </ul>
    </div>
</div>

</div>


<footer class="footerpage" style="border-top:1px solid #efefef">
<div class="right language">
<span class="language-active">NL</span> &nbsp; <a href="">FR</a> &nbsp; <a href="">EN</a>
</div>
<small> &copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></small>
</footer>
</diV>

</diV>



{% endblock %}