{% block content %} 




<div class="sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <a href="/"><img src="atramlogo.png" class="left logo-small">
      <h1 class="left logo-small-text">Atramhasis</h1>
    </a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="" style="">
      <li class="divider"></li>
      <li class="has-dropdown" style="">
        <a href="#">Kies een schema</a>
        <ul class="dropdown" style="">
          <li><a href="#">Verschillende soorten bomen</a></li>
          <li class=""><a href="#">Stijlen en Culturen</a></li>
          <li><a href="#">Geografie</a></li>
          <li><a href="#">Materialen</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown" style="">
        <a href="#">Kies een type</a>
        <ul class="dropdown">
          <li><a href="#">Concepten</a></li>
          <li class="active"><a href="#">Collecties</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form" style="">
  <div class="row collapse">


<div class="left"><input type="text" class="" style="border:0;margin-top:8px;color:#000;font-size:0.8em" placeholder="Zoek een label"></div>
<div class="left"><a href="#" class=""><span class="ico-mglass"></span></a></div>

  </div>
</li>
    </ul>

<div class="right language" style="margin:0 20px 0 0;padding:0">
<span class="language-active">NL</span> &nbsp; <a href="">FR</a> &nbsp; <a href="">EN</a>
</div>
  
  </section>
</nav>
</div>


<div class="large-2 columns" style="padding:0;">

           
         
        
      <ul class="subNav">
          <li><a style="" class="" id="">culturen</a></li>
          <li> <div style="padding:10px 0 "><a class="slidenav" id="Trigger">Stijlen</a></div></li>                
      </ul>

<!-- slider -->
      <div id="Slider" class="slideup">
        <!-- content has to be wrapped so that the padding and
                margins don't effect the transition's height -->
        <div id="Actual">
                  <ul class="subNav2">
                      <li><a href="">art deco</a></li>
                      <li><a href="">art nouveau</a></li>
                      <li><a href="">barok</a></li>
                      <li><a href="detailv2">brutalisme</a></li>
                      <li><a href="">Chippendale</a></li>
                      <li><a href="">classicerende barok</a></li>
                      <li><a href="">classicisme</a></li>
                      <li><a href="">cottagestijl</a></li>
                      <li><a href="">empire</a></li>
                      <li><a href="">gotiek</a></li>
                      <li><a href="">high tech</a></li> 
                      <li><a href="">modernisme</a></li>
                      <li><a href="">neostijl</a></li>
                  </ul>
            </div>
      </div>
  


    <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script>
        
        $("#Trigger").click(function () {
          $("#Slider").toggleClass("slidedown slideup");
          //  if ($("#Slider").hasClass("slideup"))
          //    $("#Slider").removeClass("slideup").addClass("slidedown");
          //  else
          //      $("#Slider").removeClass("slidedown").addClass("slideup");
        });
    </script>
<!-- end slider -->






</diV>


<div class="large-10 columns">


<div class="large-9 columns">

<h1 class="title-result"><strong>72</strong> resultaten gevonden voor <span>'Stijlen'</span></h1>

     <ul class="resultlist">
         <li><a href="/conceptschemes/STYLES/c/64">acheuleaan <span>[ ID : 64 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/65">ahrensburgiaan<span> [ ID : 65 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/22">art deco<span> [ ID : 22 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/30">art nouveau<span> [ ID : 30 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/66">aurignaciaan<span> [ ID : 66 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/7">barok<span> [ ID : 7 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/32">beaux-artsstijl<span> [ ID : 32 ]</span></a></li>
         <li><a href="detailv2">brutalisme<span> [ ID : 28 ]***</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/123">Chippendale<span> [ ID : 123 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/8">classicerende barok<span> [ ID : 8 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/10">classicisme<span> [ ID : 10 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/31">cottagestijl<span> [ ID : 31 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/67">creswelliaan<span> [ ID : 67 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/124">culturen<span> [ ID : 124 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/63">culturen uit de metaaltijden<span> [ ID : 63 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/62">culturen uit de steentijd<span> [ ID : 62 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/29">eclecticisme<span> [ ID : 29 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/11">empire<span> [ ID : 11 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/68">enkelgrafcultuur<span> [ ID : 68 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/24">expo-stijl<span> [ ID : 24 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/69">federmesser<span> [ ID : 69 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/4">gotiek<span> [ ID : 4 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/82">gravettiaan<span> [ ID : 82 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/87">groupe de Blicquy<span> [ ID : 87 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/114">Halstatt<span> [ ID : 114 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/88">hamburgiaan<span> [ ID : 88 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/89">hazendonkgroep<span> [ ID : 89 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/27">high tech<span> [ ID : 27 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/115">Hilversum-cultuur<span> [ ID : 115 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/91">klokbekercultuur<span> [ ID : 91 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/116">La Tène<span> [ ID : 116 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/93">lineaire bandkeramiek<span> [ ID : 93 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/95">magdaleniaan<span> [ ID : 95 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/97">michelsbergcultuur<span> [ ID : 97 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/98">micoquiaan<span> [ ID : 98 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/23">modernisme<span> [ ID : 23 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/100">mousteriaan<span> [ ID : 100 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/117">Nederrijnse grafheuvelcultuur<span> [ ID : 117 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/34">neo-Egyptisch<span> [ ID : 34 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/33">neo-empire<span> [ ID : 33 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/14">neo-Vlaamserenaissance-stijl<span> [ ID : 14 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/16">neobarok<span> [ ID : 16 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/18">neobyzantijns<span> [ ID : 18 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/12">neoclassicisme<span> [ ID : 12 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/13">neogotiek<span> [ ID : 13 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/17">neomoors<span> [ ID : 17 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/122">neorenaissance<span> [ ID : 122 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/19">neorococo<span> [ ID : 19 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/15">neoromaans<span> [ ID : 15 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/35">neostijl<span> [ ID : 35 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/21">neotraditioneel<span> [ ID : 21 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/25">organische architectuur<span> [ ID : 25 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/119">Plainseaucultuur<span> [ ID : 119 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/26">postmodernisme<span> [ ID : 26 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/20">regionalisme<span> [ ID : 20 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/5">renaissance<span> [ ID : 5 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/120">Rhin-Suisse-France Oriental<span> [ ID : 120 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/102">Rijnbekkengroep<span> [ ID : 102 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/9">rococo<span> [ ID : 9 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/3">romaans<span> [ ID : 3 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/104">rössencultuur<span> [ ID : 104 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/36">second empire<span> [ ID : 36 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/106">Seine-Oise-Marne<span> [ ID : 106 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/108">steingroep<span> [ ID : 108 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/60">stijlen<span> [ ID : 60 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/109">swifterbantcultuur<span> [ ID : 109 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/110">tardenoisiaan<span> [ ID : 110 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/1">traditioneel<span> [ ID : 1 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/112">trechterbekercultuur<span> [ ID : 112 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/121">urnenveldencultuur<span> [ ID : 121 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/2">vakwerkbouw<span> [ ID : 2 ]</span></a></li>
         <li><a href="/conceptschemes/STYLES/c/113">vlaardingencultuur<span> [ ID : 113 ]</span></a></li>
      </ul>


           
<footer class="footerpage">
<small> &copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></small>
</footer>             

</diV>


<div class="large-3 columns">

<div class="box" style="margin-top:67px"> 
<h5>Downloads</h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Download CSV</a></li>
</ul> 
</diV>


<div class="box">
<h5>POPULAIR IN DEZE CAtEGORIE</h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Belgium</a></li>
  <li class="cube"><a href="">Flanders</a></li>
  <li class="cube"><a href="">Heis op den berg</a></li>
  <li class="cube"><a href="">World</a></li>
</ul> 
</div>


<div class="box">
<h5>RECENT DOOR U BEKEKEN</h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Belgium kdmdk  qdkq mdk dmqk d mk dqs dmq dq sqs d</a></li>
  <li class="cube"><a href="">Flanders</a></li>
  <li class="cube"><a href="">Heis op den berg</a></li>
  <li class="cube"><a href="">World</a></li>
</ul> 
</div>



<div class="box">
<h5>Volg Atramhasis </h5>

<ul class="no_bullet">
  <li class="cube"><a href="">Ons discussieforum</a></li>
  <li class="cube"><a href="">Onze online handleiding</a></li>
  <li class="cube"><a href="">Onze issue tracker</a></li>
</ul>
</div>



</diV>

</diV>









{% endblock %}