{% block content %} 

<!-- header -->
{% include "atramhasis-header-page" %}
<!-- end header -->



<div class="large-12 columns">


<div class="row">

<!-- h1 class="title-result">Je zocht op <span>'Stijlen'</span></h1 -->

<div class="clearfix">


  <ul class="downloadtop" style="margin:30px 0 0 0">
  	<li>U  BENT IN </li>
    <li><a href="">CULTUUR</a></li>
    <li><a href="">STIJLEN</a></li>
    <li>> Neo stijl</li>
  </ul>

 <ul class="downloadtop2 " style="">
  	<li>DOWNLOAD</li>
    <li><a href="">RDF/XML</a></li>
    <li><a href="">N3/Turtle</a></li>

  </ul>
 


</div>



<div class="large-3 large-3-pad columns box3"><a href=""><h5>beaux-artsstijl</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href=""><h5>eclecticisme</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href=""><h5>neo-Egyptisch</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href="resultv2detailv2"><h5>neo-empire</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href=""><h5>neo-Vlaamserenaissance-stijl</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href=""><h5>classicerende barok</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href=""><h5>neobarok</h5> <span>[ ID : 64 ]</span></a></div>
<div class="large-3 large-3-pad columns box3"><a href=""><h5>neobyzantijns</h5> <span>[ ID : 64 ]</span></a></div>



       
<footer class="footerpage">
<div class="right language">
<span class="language-active">NL</span> &nbsp; <a href="">FR</a> &nbsp; <a href="">EN</a>
</div>
<small> &copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></small>
</footer>             

</diV>

</diV>










{% endblock %}