{% block content %} 

<!-- header -->
{% include "atramhasis-header-page" %}
<!-- end header -->



<div class="large-12 columns">


<div class="row">

<!-- h1 class="title-result">Je zocht op <span>'Stijlen'</span></h1 -->

<div class="clearfix">

<h1 class="title-result left">
<strong>72</strong> resultaten gevonden voor <br class="rwd-break" /> <span class="">'Stijlen & Culturen'</span>
</h1>

  <ul class="downloadtop2 right">
  	<li>DOWNLOAD</li>
    <li><a href="">CSV</a></li>
  </ul>

</div>

<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>art deco</h5> <span> [ ID : 64 ] <br class="rwd-break" />CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>art nouveau</h5> <span> [ ID : 64 ]</span><br><small>COLLECTIE</small></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>barok</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href="brutalisme"><h5>brutalisme</h5> <span>[ ID : 64 ] CONCEPT *</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>Chippendale</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>classicerende barok</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>cottagestijl</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>empire</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>gotiek</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>high tech</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href=""><h5>modernisme</h5> <span>[ ID : 64 ] CONCEPT</span></a></div>
<div class="large-3 large-3-pad columns result-grid"><a href="neostijl"><h5>neostijl</h5> <span>[ ID : 64 ] CONCEPT *</span></a></div>


       
<footer class="footerpage">
<div class="right language">
<span class="language-active">NL</span> &nbsp; <a href="">FR</a> &nbsp; <a href="">EN</a>
</div>
<small> &copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></small>
</footer>             

</diV>


</diV>










{% endblock %}