{% block content %} 



<div class="sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <a href="/"><img src="atramlogo.png" class="left logo-small">
      <h1 class="left logo-small-text">Atramhasis</h1>
    </a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Kies een schema</a>
        <ul class="dropdown">
          <li><a href="#">Verschillende soorten bomen</a></li>
          <li class=""><a href="#">Stijlen en Culturen</a></li>
          <li><a href="#">Geografie</a></li>
          <li><a href="#">Materialen</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown" style="">
        <a href="#">Kies een type</a>
        <ul class="dropdown">
          <li><a href="#">Concepten</a></li>
          <li class=""><a href="#">Collecties</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
  <div class="row collapse">

<div class="left"><input type="text" class="" style="border:0;margin-top:8px;color:#000;font-size:0.8em" placeholder="Zoek een label"></div>
<div class="left"><a href="#" class=""><span class="ico-mglass"></span></a></div>

  </div>
</li>
</ul>

  </section>
</nav>
</div>




<div class="large-2 columns" style="padding:0;">

                <ul class="subNav">
                <li><a href="">culturen</a></li>
                <li><a href="resultv2s2">stijlen</a></li>
                </ul>

                <ul class="subNav2">           
                <li>brutalisme</li>
                </ul>
                  
</diV>


<div class="large-10 columns">


<div class="large-9 columns">

<h1 class="">Brutalisme</h1>
<h2 class="id-header">[ID:335]</h2>


<dl class="infolist clearfix">
  <dt>type</dt>
  <dd>concept</dd>
  <dt>uri</dt>
  <dd><a href="">urn:x-skosprovider:geography:335</a></dd>
  <dt>schema</dt>
  <dd><a href="">Geografie</a></dd>
  <dt>labels</dt>
  <dd><strong>Mechelen</strong> <em>(Dutch)</em> , <strong>Malines</strong> <em>(French)</em></dd>
  <dt>alt labels</dt>
  <dd><strong>Machlina</strong> <em>(Undetermined)</em> , <strong>Malines</strong> <em>(English)</em> , <strong>Mecheln</strong> <em>(German)</em> ,<strong>Mechlin</strong> <em>(English)</em> , <strong>Mechlinae</strong> <em>(Latin)</em> , <strong>Mechlinia</strong> <em>(Undetermined)</em>
</dd>
</dl>
          

<ul class="scopeNote">
<li>
<strong>scopeNote</strong> <em>(English)</em>: Settled in ancient times, the commune of Mechelen lies along the Dijle River, a few miles north-northeast of Brussels, in the Belgian province of Antwerp. According to Christian legend, St. Rumoldus came here in 756. It was ruled by the prince-bishops of Liège from 915 to 1333, by Flanders from 1333 to 1368, and by Burgundy from 1369. Charles the Bold of Burgundy made it the seat of the Grand Council in 1473, the supreme court of the Low Countries. The regent Margaret of Austria made it the capital of The Netherlands in the early 16th century, and it became a cultural center and archbishopric. It suffered great damage in wars from the 16th to the 18th centuries, being held variously by the French, Spanish, and English, and again in World War II. Its architectural and artistic treasures include the Cathedral of St. Rumoldus of the13th-15th century, containing a 49-bell carillon and Anthony Van Dyck's Crucifixion, St. John's Church with Peter Paul Rubens's Adoration of the Magi; Notre Dame with Rubens's Miraculous Draught of Fishes, the Renaissance palace of Margaret of Austria which has served as law courts since 1796, the 14th-century Cloth Hall, and the town hall, which is composed of three distinct structures: the Palace of the Grand Council built in 1526, the cadre of halls built 1311-26, and a Renaissance building of17th century. It was at one time a notable center of lace making. In the 20th and 21st centuries it is noted for its vegetable market, and furniture, tapestry, and beer industries. Its population by a 2003 estimate is 76,200.
</li>
</ul>


<ul class="scopeNote">
<li>
<strong>scopeNote</strong> <em>(English)</em>: Settled in ancient times, the commune of Mechelen lies along the Dijle River, a few miles north-northeast of Brussels, in the Belgian province of Antwerp. According to Christian legend, St. Rumoldus came here in 756. It was ruled by the prince-bishops of Liège from 915 to 1333, by Flanders from 1333 to 1368, and by Burgundy from 1369. Charles the Bold of Burgundy made it the seat of the Grand Council in 1473, the supreme court of the Low Countries. The regent Margaret of Austria made it the capital of The Netherlands in the early 16th century, and it became a cultural center and archbishopric. It suffered great damage in wars from the 16th to the 18th centuries, being held variously by the French, Spanish, and English, and again in World War II. Its architectural and artistic treasures include the Cathedral of St. Rumoldus of the13th-15th century, containing a 49-bell carillon and Anthony Van Dyck's Crucifixion, St. John's Church with Peter Paul Rubens's Adoration of the Magi; Notre Dame with Rubens's Miraculous Draught of Fishes, the Renaissance palace of Margaret of Austria which has served as law courts since 1796, the 14th-century Cloth Hall, and the town hall, which is composed of three distinct structures: the Palace of the Grand Council built in 1526, the cadre of halls built 1311-26, and a Renaissance building of17th century. It was at one time a notable center of lace making. In the 20th and 21st centuries it is noted for its vegetable market, and furniture, tapestry, and beer industries. Its population by a 2003 estimate is 76,200.
</li>
</ul>


++++++ ADD THIS  +++++++

<dl class="infolist clearfix">
  <dt>relaties</dt>
  <dd>concept</dd>
  <dt>algemener</dt>
  <dd>Flanders</dd>
  <dt>exact match</dt>
  <dd><a href="">http://vocab.getty.edu/tgn/7008736</a></dd>
</dl>









<div class="row">

<div class="large-3 columns" style="padding:0">
    <div class="box">
    <h5>Downloads</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Download CVS</a></li>
    </ul> 
    </div>
</div>

<div class="large-3 columns" style="padding:0">
    <div class="box">
    <h5>POPULAIR IN DEZE CAtEGORIE</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Belgium</a></li>
      <li class="cube"><a href="">Flanders</a></li>
      <li class="cube"><a href="">Heis op den berg</a></li>
      <li class="cube"><a href="">World</a></li>
    </ul> 
    </div>
</div>
<div class="large-3 columns" style="padding:0">
    <div class="box">
    <h5>RECENT DOOR U BEKEKEN</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Belgium kdmdk  qdkq mdk dmqk d mk dqs dmq dq sqs d</a></li>
      <li class="cube"><a href="">Flanders</a></li>
      <li class="cube"><a href="">Heis op den berg</a></li>
      <li class="cube"><a href="">World</a></li>
    </ul> 
    </div>
</div>
<div class="large-3 columns" style="padding:0">
    <div class="box">
    <h5>Volg Atramhasis </h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Ons discussieforum</a></li>
      <li class="cube"><a href="">Onze online handleiding</a></li>
      <li class="cube"><a href="">Onze issue tracker</a></li>
    </ul>
    </div>
</div>

</div>


<footer class="footerpage">
<div class="right language">
<span class="language-active">NL</span> &nbsp; <a href="">FR</a> &nbsp; <a href="">EN</a>
</div>
<small> &copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></small>
</footer>
</diV>

</diV>



{% endblock %}