{% block content %} 

<!-- header -->
{% include "atramhasis-header-page" %}
<!-- end header -->




<div class="row" style="margin-top:20px;">


  <ul class="downloadtop" style="margin:30px 0 0 0">
    <li>U  BENT IN </li>
    <li><a href="">CULTUUR</a></li>
    <li><a href="">STIJLEN</a></li>
    <li><a href="">Neo stijl</a></li>
    <li>> Neo empire</li>
  </ul>

 <ul class="downloadtop2 " style="">
    <li>DOWNLOAD</li>
    <li><a href="">RDF/XML</a></li>
    <li><a href="">N3/Turtle</a></li>

  </ul>
<div class="large-12 columns" style="background:#fff"> 

<h1>Neo-Empire</h1>
<h2 class="id-header">[ID:33]</h2>


<dl class="infolist clearfix">
  <dt>type</dt>
  <dd>concept</dd>
  <dt>uri</dt>
  <dd><a href="">urn:x-skosprovider:geography:335</a></dd>
  <dt>schema</dt>
  <dd><a href="">Geografie</a></dd>
  <dt>labels</dt>
  <dd><strong>Neo-empire</strong> <em>(Dutch)</em></dd>
 
</dd>
</dl>

++++++ ADD THIS  +++++++

<dl class="infolist clearfix">
  <dt>relaties</dt>
  <dd>concept</dd>
  <dt>algemener</dt>
  <dd>Flanders</dd>
  <dt>exact match</dt>
  <dd><a href="">http://vocab.getty.edu/tgn/7008736</a></dd>
</dl>


</diV>



<div class="row">

<div class="large-3 large-3-pad columns">
    <div class="box" style="background:transparent">
    <h5>Downloads</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Download CVS</a></li>
    </ul> 
    </div>
</div>

<div class="large-3 large-3-pad columns">
    <div class="box" style="background:transparent">
    <h5>POPULAIR IN DEZE CAtEGORIE</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Belgium</a></li>
      <li class="cube"><a href="">Flanders</a></li>
      <li class="cube"><a href="">Heis op den berg</a></li>
      <li class="cube"><a href="">World</a></li>
    </ul> 
    </div>
</div>
<div class="large-3 large-3-pad columns">
    <div class="box" style="background:transparent">
    <h5>RECENT DOOR U BEKEKEN</h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Belgium kdmdk  qdkq mdk dmqk d mk dqs dmq dq sqs d</a></li>
      <li class="cube"><a href="">Flanders</a></li>
      <li class="cube"><a href="">Heis op den berg</a></li>
      <li class="cube"><a href="">World</a></li>
    </ul> 
    </div>
</div>
<div class="large-3 large-3-pad columns">
    <div class="box" style="background:transparent">
    <h5>Volg Atramhasis </h5>
    <ul class="no_bullet">
      <li class="cube"><a href="">Ons discussieforum</a></li>
      <li class="cube"><a href="">Onze online handleiding</a></li>
      <li class="cube"><a href="">Onze issue tracker</a></li>
    </ul>
    </div>
</div>

</div>


<footer class="footerpage" style="border-top:1px solid #efefef">
<div class="right language">
<span class="language-active">NL</span> &nbsp; <a href="">FR</a> &nbsp; <a href="">EN</a>
</div>
<small> &copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></small>
</footer>
</diV>

</div>





          














{% endblock %}