<div class="row">

<div class="left">
<img src="atramlogo.png" width="70" class="left logo">
<h1 class="left logotext">Atramhasis</h1>
</div>

<div class="clearfix right language">
<span class="language-active">NL </span>&nbsp;
<a href="">FR</a> &nbsp;
<a href="">EN</a>
</div>

</div>
