
<div class="sticky">

  <nav class="top-bar" data-topbar role="navigation">




    <ul class="title-area">
      <li class="name">
        <a href="/"><img src="atramlogo.png" class="left logo-small" title="Atramhasis">
          <h1 class="left logo-small-text">Atramhasis</h1>
        </a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>


    <form class="top-bar-section">

      <ul class="left">
        <li class="divider"></li>
        <li>
          <select>
            <option value="husker">Select Thesaurus</option>
            <option value="starbuck">Materials</option>
            <option value="hotdog">3</option>
            <option value="apollo">4</option>
          </select>
        </li>
        <li class="divider"></li>
        <li><button class="label labellink">edit</button></li>

      </ul>

      <ul class="right">
        <li class="divider"></li>
         <li class="has-form">
        <div class="row collapse">
          <div class="left"><input type="text" class="search-input-top" placeholder="Filter by label" style="width:250px"></div>
        </div>
      </li>
       <li class="divider"></li>
        <li>
         <select style="width:200px">
          <option value="husker">Filter by type</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </li>
      <li class="divider"></li>
      <li><div class="left"><a href="#"><span class="ico-mglass"></span></a></div>
    </ul>

  </form>

</nav>
</div>
